#flowWrap {
  width:600px;
  height:auto;
  border:0px solid #2c3e50;
  margin:auto;
  position:relative;
  display:inline-block;
  vertical-align:top;
  font-weight: 200 !important;
  canvas {
    background:rgba(black,0);
    display:block;
  }
  .module {
    position:absolute;
    top:0;
    list-style:none;
    margin:0;
    padding:0;
    &.left {
      max-width: 30%;
      left:0;
    }
     &.right {
      right:0;
      max-width: 60%;
      text-align:right;
    }
    li {
      background:#34495e;
      color:#ecf0f1;
      display:block;
      margin:13px 10px 3px 10px;
      min-width:20px;
      padding:15px 13px 13px 13px;
      text-align:center;
      &:hover {
        cursor:pointer;
        background:#3498db;
      }
    }
  }
}
#output {
  display:inline-block;
  width:200px;
  background:white;
  vertical-align:top;
  border:5px solid #27ae60;
  #result {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size:12px;
     text-align:left;
     padding:5px;
     white-space:pre;
  }
}
button {
  margin: 10px;
  display: inline-block;
  margin-top: 10px;
  font-size: 1em;
  background-color: #fc9147;
  border: none;
  cursor: pointer;
  padding: 10px;

}
#mainWrap {
  text-align:center;
  color:rgba(black,0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:15px;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  vertical-align: top;
  th {
    padding: 10px;
    vertical-align: top;

    border: 1px solid #eee;
  }
  .left-result {
    width: 30%;

    font-weight: 600 !important;
  }
  .right-result {
    width: 60%;

    font-weight: 200 !important;
  }
}
